*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body{
  font-size: 62.5%;
  font-family: sans-serif;
}

#accordion-area{
  width: 100%;
  min-height: 100vh;
  padding: 30px 0px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion{
  width: 350px;
  height: 100%;
  background-color: white;
  padding: 0px 30px;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: .5rem;
}

.accordion .heading{
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: center;
  padding: 30px 0px;
}

.accordion-items{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

}

.accordion-items .accordion-item .item-heading{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background: #e9eef0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.accordion-items .accordion-item p{
  padding: 15px 8px 23px 8px ;
  background: #FFEBEE;
  line-height: 1rem;
  color: #333;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}